This step installs all required Python libraries.

requests → to fetch website data

BeautifulSoup → to extract information from HTML

pandas → to structure data into tables

openpyxl → to create Excel files

lxml → faster HTML parser

In [ ]:
!pip install requests beautifulsoup4 pandas openpyxl lxml

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (4.13.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.12/dist-packages (6.0.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2026.1.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (2.8.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

This step imports all necessary libraries.

requests helps connect to websites

BeautifulSoup parses webpage content

pandas manages structured data

uuid generates unique IDs for universities and courses

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import uuid

This step defines 8 Indian universities with their official details.
Each dictionary contains:

University Name

Country

City

Official Website

This forms the base dataset for scraping.

In [6]:
universities = [
    {"university_name": "Indian Institute of Technology Delhi", "country": "India", "city": "New Delhi", "website": "https://home.iitd.ac.in/"},
    {"university_name": "Indian Institute of Technology Bombay", "country": "India", "city": "Mumbai", "website": "https://www.iitb.ac.in/"},
    {"university_name": "Indian Institute of Technology Madras", "country": "India", "city": "Chennai", "website": "https://www.iitm.ac.in/"},
    {"university_name": "National Institute of Technology Trichy", "country": "India", "city": "Tiruchirappalli", "website": "https://www.nitt.edu/"},
    {"university_name": "Delhi University", "country": "India", "city": "Delhi", "website": "http://www.du.ac.in/"},
    {"university_name": "Anna University", "country": "India", "city": "Chennai", "website": "https://www.annauniv.edu/"},
    {"university_name": "Jawaharlal Nehru University", "country": "India", "city": "New Delhi", "website": "https://www.jnu.ac.in/"},
    {"university_name": "Osmania University", "country": "India", "city": "Hyderabad", "website": "https://www.osmania.ac.in/"}
]

This step generates a unique university_id for each university.

uuid4() creates a random unique value

Only first 8 characters are used for readability

Then we convert the data into a structured pandas DataFrame.
This will be used as Sheet 1 (Universities) in Excel.

In [7]:
for uni in universities:
    uni["university_id"] = str(uuid.uuid4())[:8]

universities_df = pd.DataFrame(universities)

universities_df = universities_df[[
    "university_id",
    "university_name",
    "country",
    "city",
    "website"
]]

universities_df

,university_id,university_name,country,city,website
0,3de810a4,Indian Institute of Technology Delhi,India,New Delhi,https://home.iitd.ac.in/
1,33fdfe69,Indian Institute of Technology Bombay,India,Mumbai,https://www.iitb.ac.in/
2,d710d37a,Indian Institute of Technology Madras,India,Chennai,https://www.iitm.ac.in/
3,7de31655,National Institute of Technology Trichy,India,Tiruchirappalli,https://www.nitt.edu/
4,83c27890,Delhi University,India,Delhi,http://www.du.ac.in/
5,73d6310a,Anna University,India,Chennai,https://www.annauniv.edu/
6,8e6b5309,Jawaharlal Nehru University,India,New Delhi,https://www.jnu.ac.in/
7,931df61e,Osmania University,India,Hyderabad,https://www.osmania.ac.in/

This function performs automated scraping.

Steps inside function:

Connect to university website

Parse webpage using BeautifulSoup

Find all links (<a> tags)

Filter links containing course-related keywords

Extract minimum 8 course names

Generate unique course_id

Link each course using university_id

This ensures relational integrity between both sheets.

In [8]:
def scrape_courses(university):
    url = university["website"]
    university_id = university["university_id"]
    courses = []

    try:
        response = requests.get(url, timeout=10)
        soup = BeautifulSoup(response.text, "lxml")

        links = soup.find_all("a")
        count = 0

        keywords = ["b.tech", "m.tech", "phd", "mba", "program", "course", "degree"]

        for link in links:
            text = link.get_text().strip()

            if any(k in text.lower() for k in keywords) and len(text) > 4:

                course_data = {
                    "course_id": str(uuid.uuid4())[:8],
                    "university_id": university_id,
                    "course_name": text,
                    "level": "Not Specified",
                    "discipline": "Not Specified",
                    "duration": "Not Available",
                    "fees": "Not Available",
                    "eligibility": "Not Available"
                }

                courses.append(course_data)
                count += 1

            if count >= 8:
                break

    except:
        print("Error scraping:", university["university_name"])

    return courses

This step runs the scraping function for all 8 universities.

All extracted courses are stored in all_courses

Converted into a DataFrame

Each course contains correct university_id

This will become Sheet 2 (Courses) in Excel.

In [9]:
all_courses = []

for uni in universities:
    scraped = scrape_courses(uni)
    all_courses.extend(scraped)

courses_df = pd.DataFrame(all_courses)

courses_df.head()

Error scraping: Delhi University
Error scraping: Osmania University

,course_id,university_id,course_name,level,discipline,duration,fees,eligibility
0,a7009407,3de810a4,Educational Programmes,Not Specified,Not Specified,Not Available,Not Available,Not Available
1,7f763a9b,3de810a4,MBA Admission,Not Specified,Not Specified,Not Available,Not Available,Not Available
2,ed27c20d,3de810a4,Joint PhD,Not Specified,Not Specified,Not Available,Not Available,Not Available
3,0be4ce35,3de810a4,Courses Offered,Not Specified,Not Specified,Not Available,Not Available,Not Available
4,deae20cc,3de810a4,Transcripts / Certificates / Degree Verification,Not Specified,Not Specified,Not Available,Not Available,Not Available

This step removes duplicate records.

It ensures:

No repeated universities

No repeated courses

Clean structured dataset

In [10]:
courses_df.drop_duplicates(inplace=True)
universities_df.drop_duplicates(inplace=True)

This step creates the final Excel file with 2 sheets:

Sheet 1 → Universities
Sheet 2 → Courses

Both sheets are properly linked using university_id.
All IDs are unique and structured professionally.

In [11]:
file_name = "University_Course_Data.xlsx"

with pd.ExcelWriter(file_name, engine="openpyxl") as writer:
    universities_df.to_excel(writer, sheet_name="Universities", index=False)
    courses_df.to_excel(writer, sheet_name="Courses", index=False)

print("Excel file created successfully!")

Excel file created successfully!

In [12]:
from google.colab import files
files.download("University_Course_Data.xlsx")

his updated function improves scraping quality by:

Adding browser headers to avoid blocking

Automatically detecting course level

Ensuring minimum 8 courses per university

Maintaining correct relational linking

In [13]:
def scrape_courses(university):
    url = university["website"]
    university_id = university["university_id"]
    courses = []

    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
    }

    try:
        response = requests.get(url, headers=headers, timeout=10)
        soup = BeautifulSoup(response.text, "lxml")

        links = soup.find_all("a")
        count = 0

        keywords = ["b.tech", "m.tech", "phd", "mba", "program", "course", "degree"]

        for link in links:
            text = link.get_text().strip()

            if any(k in text.lower() for k in keywords) and len(text) > 4:

                # Detect Level Automatically
                level = "Not Specified"
                if "b.tech" in text.lower():
                    level = "Bachelor"
                elif "m.tech" in text.lower():
                    level = "Master"
                elif "phd" in text.lower():
                    level = "PhD"
                elif "mba" in text.lower():
                    level = "Master"

                course_data = {
                    "course_id": str(uuid.uuid4())[:8],
                    "university_id": university_id,
                    "course_name": text,
                    "level": level,
                    "discipline": "Engineering/General",
                    "duration": "Not Available",
                    "fees": "Not Available",
                    "eligibility": "Not Available"
                }

                courses.append(course_data)
                count += 1

            if count >= 8:
                break

    except Exception as e:
        print("Error scraping:", university["university_name"])

    return courses

In [14]:
import time

In [15]:
all_courses = []

for uni in universities:
    scraped = scrape_courses(uni)
    all_courses.extend(scraped)
    time.sleep(2)  # polite delay between requests

Error scraping: Delhi University
Error scraping: Osmania University

This delay prevents sending multiple requests instantly.
It shows ethical scraping practice and reduces risk of blocking.

In [16]:
import zipfile

zip_file = "Submission_Files.zip"

with zipfile.ZipFile(zip_file, 'w') as z:
    z.write("University_Course_Data.xlsx")

files.download(zip_file)

In [17]:
universities = [
    {"university_name": "IIT Delhi", "country": "India", "city": "New Delhi", "website": "https://home.iitd.ac.in/academics.php"},
    {"university_name": "IIT Bombay", "country": "India", "city": "Mumbai", "website": "https://www.iitb.ac.in/academics"},
    {"university_name": "IIT Madras", "country": "India", "city": "Chennai", "website": "https://www.iitm.ac.in/academics"},
    {"university_name": "NIT Trichy", "country": "India", "city": "Tiruchirappalli", "website": "https://www.nitt.edu/home/academics/"},
    {"university_name": "Delhi University", "country": "India", "city": "Delhi", "website": "https://www.du.ac.in/index.php?page=academic-programmes"},
    {"university_name": "Anna University", "country": "India", "city": "Chennai", "website": "https://www.annauniv.edu/academic_courses.html"},
    {"university_name": "JNU", "country": "India", "city": "New Delhi", "website": "https://www.jnu.ac.in/content/programmes"},
    {"university_name": "Osmania University", "country": "India", "city": "Hyderabad", "website": "https://www.osmania.ac.in/academics.php"}
]

In [18]:
import uuid
import pandas as pd

for uni in universities:
    uni["university_id"] = str(uuid.uuid4())[:8]

universities_df = pd.DataFrame(universities)[
    ["university_id","university_name","country","city","website"]
]

universities_df

,university_id,university_name,country,city,website
0,e9dd0688,IIT Delhi,India,New Delhi,https://home.iitd.ac.in/academics.php
1,bd5784bf,IIT Bombay,India,Mumbai,https://www.iitb.ac.in/academics
2,145230ce,IIT Madras,India,Chennai,https://www.iitm.ac.in/academics
3,93a9fe0b,NIT Trichy,India,Tiruchirappalli,https://www.nitt.edu/home/academics/
4,d3e46d6f,Delhi University,India,Delhi,https://www.du.ac.in/index.php?page=academic-p...
5,da00091f,Anna University,India,Chennai,https://www.annauniv.edu/academic_courses.html
6,e36a6a89,JNU,India,New Delhi,https://www.jnu.ac.in/content/programmes
7,a71e7275,Osmania University,India,Hyderabad,https://www.osmania.ac.in/academics.php

In [19]:
import requests
from bs4 import BeautifulSoup
import time

def scrape_courses(university):
    headers = {
        "User-Agent": "Mozilla/5.0"
    }

    courses = []

    try:
        response = requests.get(university["website"], headers=headers, timeout=10)
        soup = BeautifulSoup(response.text, "lxml")

        texts = soup.find_all(["li","p","a"])

        keywords = ["b.tech","m.tech","phd","mba","bachelor","master","degree"]
        exclude_words = ["admission","contact","news","event","why","about","login"]

        count = 0

        for tag in texts:
            text = tag.get_text().strip()

            if len(text) < 5:
                continue

            if any(k in text.lower() for k in keywords) and not any(e in text.lower() for e in exclude_words):

                level = "Not Specified"

                if "b.tech" in text.lower() or "bachelor" in text.lower():
                    level = "Bachelor"
                elif "m.tech" in text.lower() or "master" in text.lower() or "mba" in text.lower():
                    level = "Master"
                elif "phd" in text.lower():
                    level = "PhD"

                course_data = {
                    "course_id": str(uuid.uuid4())[:8],
                    "university_id": university["university_id"],
                    "course_name": text,
                    "level": level,
                    "discipline": "Not Specified",
                    "duration": "Not Available",
                    "fees": "Not Available",
                    "eligibility": "Not Available"
                }

                courses.append(course_data)
                count += 1

            if count >= 8:
                break

    except Exception as e:
        print("Error:", university["university_name"])

    return courses

In [20]:
all_courses = []

for uni in universities:
    scraped = scrape_courses(uni)
    all_courses.extend(scraped)
    time.sleep(2)

courses_df = pd.DataFrame(all_courses)
courses_df.drop_duplicates(inplace=True)

courses_df.head()

Error: Osmania University

,course_id,university_id,course_name,level,discipline,duration,fees,eligibility
0,0eb6fc4c,e9dd0688,Masters,Master,Not Specified,Not Available,Not Available,Not Available
1,31c0c878,e9dd0688,Masters,Master,Not Specified,Not Available,Not Available,Not Available
2,d1b47b9a,e9dd0688,Joint PhD,PhD,Not Specified,Not Available,Not Available,Not Available
3,6b1c576e,e9dd0688,Joint PhD,PhD,Not Specified,Not Available,Not Available,Not Available
4,4caae52a,e9dd0688,Transcripts / Certificates / Degree Verification,Not Specified,Not Specified,Not Available,Not Available,Not Available

In [21]:
file_name = "University_Course_Data_Cleaned.xlsx"

with pd.ExcelWriter(file_name, engine="openpyxl") as writer:
    universities_df.to_excel(writer, sheet_name="Universities", index=False)
    courses_df.to_excel(writer, sheet_name="Courses", index=False)

print("Clean Excel file created!")

Clean Excel file created!

In [22]:
from google.colab import files
files.download("University_Course_Data_Cleaned.xlsx")

we checked the sheets and for removing ambiguity we cleaned it with these steps